<%@favorite.each do |favorite|%>
    <p>
      <strong>Subject </strong> : <%=link_to "#{@topic.find(favorite.topic_id).title}", topic_path(favorite.topic_id)  %> <br>
        posted by <strong><%= @topic.find(favorite.topic_id).user.name %></strong> at <strong><%= @topic.find(favorite.topic_id).created_at %></strong>
    </p>
    <p>
      <%= @topic.find(favorite.topic_id).content %>
    </p>
    <p>
      comments : <span class="badge badge-info"><%= @topic.find(favorite.topic_id).comments.count %></span>
      like : <span class="badge badge-danger"><%= @topic.find(favorite.topic_id).favorites.count %></span>
    </p>
    <hr>
<% end %>
