<strong> Total Topic publised </strong><span class="badge badge-warning"><%= Topic.all.count %></span>

<hr>
<div class="category_display">
  <strong>Sort by categories : </strong>
  <button type="button" class="btn-black">
    <%= link_to 'Actualité', topics_path(sort_actuality: "true") %>
    <span class="badge badge-info"><%= Topic.where("category=0").count%></span>
  </button>
  <button type="button" class="btn-black">
    <%= link_to 'Loisir', topics_path(sort_losir: "true") %>
    <span class="badge badge-info"><%= Topic.where("category=1").count%></span>
  </button>
  <button type="button" class="btn-black">
    <%= link_to 'Sport', topics_path(sort_sport: "true") %>
    <span class="badge badge-info"><%= Topic.where("category=2").count%></span>
  </button>
  <button type="button" class="btn-black">
    <%= link_to 'Mode', topics_path(sort_mode: "true")%>
    <span class="badge badge-info"><%= Topic.where("category=3").count%></span>
  </button>
  <button type="button" class="btn-black">
    <%= link_to 'Tourisme', topics_path(sort_tourism: "true")%>
    <span class="badge badge-info"><%= Topic.where("category=4").count%></span>
  </button>
  <button type="button" class="btn-black">
    <%= link_to 'Politique', topics_path(sort_politique: "true") %>
    <span class="badge badge-info"><%= Topic.where("category=5").count%></span>
  </button>
  <button type="button" class="btn-black">
    <%= link_to 'Voyage', topics_path(sort_voyage: "true") %>
    <span class="badge badge-info"><%= Topic.where("category=6").count%></span>
  </button>
  <button type="button" class="btn-black">
    <%= link_to 'Sexe', topics_path(sort_sexe: "true") %>
    <span class="badge badge-info"><%= Topic.where("category=7").count%></span>
  </button>
  <button type="button" class="btn-black">
    <%= link_to 'Cuisine', topics_path(sort_cuisine: "true") %>
    <span class="badge badge-info"><%= Topic.where("category=8").count%></span>
  </button>
</div>
<hr>
<div class="">
  <% @topic.each do |topic| %>
    <div class="card">
      <div class="card-header">
        <p><strong>Subjet </strong> : <%=topic.title%> <br>
        <strong>Catégory</strong> : <%=topic.category%><br>
        Post by : <strong><%= topic.user.name%></strong> at: <strong><%= topic.created_at%></strong><br>

        comments :<span class="badge badge-info"><%=topic.comments.count%></span>
        Likes : <span class="badge badge-danger"><%=topic.favorites.count%></span>
      </p>
      </div>
      <div class="card-body">
        <p><%=topic.content%></p>
     <%=link_to "comment",topic_path(topic.id),class:"btn btn-outline-info my-2 my-sm-0"%>
     <%if current_user && current_user== topic.user%>
      <%=link_to "Edit", edit_topic_path(topic.id),class:"badge badge-info" %>
      <%=link_to "Destroy",topic_path(topic.id),method: :delete, data: { confirm: 'Are you sure?'},class:"badge badge-light" %>
     <% end %>
      </div>
    </div>
    <br>
  <% end %>
</div>
