<!DOCTYPE html>
<html>
  <head>
    <title>Forum</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body id="page-top">
    <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
          <div class="container">
              <p class="navbar-brand js-scroll-trigger">DF_FORUM</p>
              <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                  Menu
                  <i class="fas fa-bars"></i>
              </button>
              <% if user_signed_in? %>
              <div class="collapse navbar-collapse" id="navbarResponsive">
                  <ul class="navbar-nav ml-auto">
                      <li class="nav-item mx-0 mx-lg-1"><%= link_to 'Home', root_path, :class => 'nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger' %></li>
                      <li class="nav-item mx-0 mx-lg-1"><%= link_to 'Add forum', new_topic_path, :class => 'nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger' %></li>
                      <li class="nav-item mx-0 mx-lg-1"><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger'%></li>
                  </ul>
              </div>
            <% else %>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mx-0 mx-lg-1"><%= link_to 'Home', root_path, :class => 'nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger' %></li>
                    <li class="nav-item mx-0 mx-lg-1"><%= link_to "Sign up", new_user_registration_path, :class => 'nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger'%> </li>
                    <li class="nav-item mx-0 mx-lg-1"><%= link_to "Login", new_user_session_path, :class => 'nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger'%></li>
                </ul>
            </div>
          <% end %>
          </div>
      </nav>
    <div class="container yield">
      <div class="flash">
         <% flash.each do |key, value|%>
           <%= content_tag(:div,value,class:"alert alert-#{key}")%>
           <%end%>
       <%= yield %>
    </div>
  </body>
</html>
